<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codingtemplate.mapper.TemplateMapper">

    <select id="selectTemplate" resultType="codingtemplate.model.TemplateModel"><![CDATA[
		select
			1 as id
			,'template_name' as name
	]]></select>

</mapper>
